h1 {
    text-align: center;
    color: rgb(255,0, 0);
}

h2 {
    text-align: center;
    color: rgb(0, 0, 255);
}

footer {
    background-color: rgb(0, 0, 255);
    text-align: center;
    color: rgb(255,0, 0);
}

#About {
    text-align: center;
    color: rgb(0, 0, 255);
}

#A {
    text-align: justify;
}